.padding {
  padding: 2.5rem;
}

.margin {
  margin-left: .5rem;
  margin-right: 2.5rem;
}

.width-80 {
  width: 80%;
}

.font-lg {
  font-size: 1.3rem;
}

.redText {
  color: red;
}

.greenText {
  color: green;
}

.fixedHeight {
  height: 2.5rem
}
